/* importing the font family "Poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


/* Defining the color variables  */
:root{
    --display-color:white;
    --main-color:white;
    --grey-color:#222222;
    --blue-color:#00bbff;
    --btn-color:#c9c9c9;
    --font1-color:black;
    --font2-color:white;
}


/* Setting the default css to zero  */
*{
    margin: 0;
    padding: 0;
}



/* Creating a transparent Scroll Bar  */


/* For webkit browsers */
::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    height: 8px; /* height of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* fully transparent thumb */
    border-radius: 4px; /* rounded corners if any background is applied later */
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); /* fully transparent track */
}

/* For Firefox Users */
* {
    scrollbar-width: none; /* hides the scrollbar */
    scrollbar-color: transparent transparent; /* fully transparent */
}




/* setting the font family to poppins in the body element  */
body{
    font-family: 'Poppins', sans-serif;
    color: var(--font1-color);
    background-color: var(--btn-color);
    overflow: hidden;
}




/* ---------------------Styling the calculator body--------------------  */
.calculator-body{
    width: 380px;
    height: 96vh;
    margin: 2vh auto;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 10px 40px black; */

}



/* ---------------------Styling the calculator Screen--------------------  */

.display{
    background-color: var(--display-color);
    height: 35%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    white-space: nowrap;
    box-sizing: border-box    
}


.display .content{
    position: relative;
    bottom: 10px;
    left: -10px;
    text-align: right;
    font-size: 80px;
    overflow-x: auto;
    width: 95%;
}





/* ---------------------Styling the calculator buttons body--------------------  */

.body{
    display: grid;
    grid-template-columns: 82px 82px 82px 82px;
    grid-template-rows: 80px 80px 80px 80px 80px;
    gap: 10px 12px;
    width: 100%;
    margin: 2%;
    left: auto;
    bottom: 0;
    position: relative ;
    
    
}


/* ---------------------Styling the calculator buttons--------------------  */

.btn{
    background-color: var(--btn-color);
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px 0 ;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s ease;
    
}
.btn:hover{
    background-color: transparent;
    box-shadow: 3px 3px 10px black;

}

/* Styling elements according to their background color */
.yellow{
    background-color: var(--blue-color);
}
.black{
    background-color: var(--btn-color);
}
.grey{
    background-color: var(--grey-color);
    color: var(--font2-color);
}
.grey:hover{
    color: var(--font1-color);
}


/* Styling zero to take 2x space  */
#n0{
    grid-column: -3/-5;
    border-radius: 300px;
    justify-content: flex-start;
    padding-left:25px ;
}


/* Adding Responsiveness  */


@media screen and (max-width: 980px) {
    
    
   .calculator-body{
        height: 100vh;
        width: 100%;
        margin: 0;
   }

   .display{  
        height: 30vh;
   }



   .body{
    display: grid;
    grid-template-columns: 72px 72px 72px 72px;
    grid-template-rows: 70px 70px 70px 70px 70px;
    justify-content: center;
    margin:  0 0 0;
    
    
    }
    .btn{
        font-size: 30px;
    }

}

/* @media screen and (max-width: 480px) {
    .body{
        display: grid;
        grid-template-columns: 10vh 10vh 10vh 10vh;
        grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
        height: 70vh;
        justify-content: center;
        margin: 0;
        
        
        }
} */